* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f0d13;
}
#app * {
  border: solid 1px blue;
}
#app {
  display: grid;
  grid-template-areas:
    "A B"
    "A C";
  gap: 32px;
}
#player-1 {
  grid-area: A;
}
#player-2 {
  grid-area: B;
}
#player-3 {
  grid-area: C;
}

.player{
  background-color: #2A2141;
}